version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/"
    cooldown:
      default-days: 7
    schedule:
      interval: weekly
      day: wednesday
      time: "12:00"
      timezone: America/Chicago