root = true

[*]
charset = utf-8
end_of_line = lf
ij_php_line_comment_add_space = true
ij_php_line_comment_at_first_column = false
ij_shell_use_unix_line_separator = true
indent_size = 4
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
max_line_length = 170
ij_visual_guides = 150