includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#    excludePaths:
#    checkMissingIterableValueType: false
