parameters:
    level: 8
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    checkDynamicProperties: false
    checkTooWideReturnTypesInProtectedAndPublicMethods: false
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - '#PHPDoc tag .+ #'
#    excludePaths: