name: Pre-Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+'
      - '!v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

jobs:
  CreateRelease:
    name: CreateRelease
    uses: EncoreDigitalGroup/ci-workflows/.github/workflows/github_createRelease.yml@v2
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    with:
      generateReleaseNotes: true
      isDraft: false
      preRelease: true