name: Release

on:
    push:
        tags:
            - 'v[0-9]+.[0-9]+.[0-9]+'
            - '!v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+'
    workflow_dispatch:

permissions:
    contents: write
    pages: write
    id-token: write

jobs:
    CreateRelease:
        name: CreateRelease
        runs-on: ubuntu-latest
        steps:
            -   name: Create Release
                uses: EncoreDigitalGroup/ci-workflows/actions/github/createRelease@v3
                with:
                    repository: ${{ github.repository }}
                    tagName: ${{ github.ref_name }}
                    token: ${{ secrets.GITHUB_TOKEN }}
                    generateReleaseNotes: true
                    isDraft: false
